body{
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(to right, rgb(127, 238, 75), rgb(16, 236, 225));
  background-size: cover;
}
h1 {
  color: rgb(229, 9, 27);
  font-size: 100px;
}

.countdown-container{
  margin-top: 0%;
}

.hourglass{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  bottom: 40%;
}

#countdown{
  display: flex;
  font-size: 50px;
}
#message{
  display: flex;
  font-size: 50px;
}
section{
  position: absolute;
  bottom: 25%;
  left: 39%;
}
footer{
  position: absolute;
  bottom: 15%;
  left: 29%;
}