body{
  font-family: Arial, sans-serif;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to right, #45ea17, #0ce8d9);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  color: #333;
  font-size: 100px;

}

.countdown-container{
  margin-top: 0;
  align-self: center;
  justify-content: center;
  text-align: center;
}

.hourglass{
  display: block;
  margin: 0 auto;
  width: 400px;
  border-radius: 50%;
}

#countdown{
  display: flex;
  font-size: 50px;
  text-align: center;
  color: hsl(0, 89%, 48%);
}
#message{
  display: block;
  margin: 0 auto;
  font-size: 50px;
  color: hsl(0, 89%, 48%);
}
/* Media query for smaller devices */
@media (max-width: 768px) {
  h1 {
    font-size: 60px; /* Decrease font size for smaller screens */
  }

  .hourglass {
    width: 250px; /* Adjust width for smaller screens */
  }

  #countdown {
    font-size: 30px; /* Decrease font size for smaller screens */
  }

  #message {
    font-size: 30px; /* Decrease font size for smaller screens */
  }
}